<mat-progress-bar
  mode="indeterminate"
  class="progress-bar"
  *ngIf="isDataLoaded !== true"
></mat-progress-bar>
<div class="location--container">
  <div class="location--container__title container--center">
    <app-location-title
      name="{{ dataReceived.name }}"
      src="{{ dataReceived.rating_image_url }}"
      rating="{{ dataReceived.rating }}"
      ranking="{{ dataReceived.ranking_data?.ranking_string }}"
      address="{{ dataReceived.address_obj.address_string }}"
    ></app-location-title>
  </div>
  <div class="location--container__image-tiles container--center">
    <app-location-image-tiles
      [photos]="photosReceived"
    ></app-location-image-tiles>
  </div>
  <div class="location--container__about">
    <div class="about-info container--center">
      <app-location-about
        num_reviews="{{ dataReceived.num_reviews }}"
        rating="{{ dataReceived.rating }}"
        rating_image_url="{{ dataReceived.rating_image_url }}"
        description="{{ dataReceived.description }}"
      ></app-location-about>
    </div>
    <div class="about-amenities"></div>
  </div>
  <div class="location--container__reviews">
    <div class="review-score"></div>
    <div class="review-detail"></div>
  </div>
</div>
