<mat-progress-bar
  mode="indeterminate"
  class="progress-bar"
  *ngIf="isDataLoaded !== true"
></mat-progress-bar>
<div class="location__container" *ngIf="isDataLoaded">
  <div class="location__container__title">
    <app-location-title
      name="{{ dataReceived.name }}"
      src="{{ dataReceived.rating_image_url }}"
      rating="{{ dataReceived.rating }}"
      ranking="{{ dataReceived.ranking_data?.ranking_string }}"
      address="{{ dataReceived.address_obj.address_string }}"
    ></app-location-title>
  </div>
  <div class="location__container__image-tiles"></div>
  <div class="location__container__about">
    <div class="about-info"></div>
    <div class="about-amenities"></div>
  </div>
  <div class="location__container__reviews">
    <div class="review-score"></div>
    <div class="review-detail"></div>
  </div>
</div>
