.title-container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;

  h1 {
    font-size: 3.6rem;
    font-weight: 700;
  }
  &__reviews {
    display: flex;
    align-items: flex-start;
  }

  p {
    display: flex;
    align-items: center;
  }
}
