<div class="home-container">
  <div class="home-container__title">
    <h1>Where to</h1>
  </div>
  <div class="home-container__search">
    <app-search-input
      (dataLoaded)="onDataLoaded($any($event))"
    ></app-search-input>
  </div>
  <div class="home-container__results">
    <p *ngIf="dataReceived?.length">Showing more relevant results for you</p>
    <app-card
      *ngFor="let someArray of dataReceived"
      class="home-container__results--card"
      [someArray]="someArray"
    ></app-card>
  </div>
</div>
